In [1]:
import pandas as pd
import numpy as np

In [2]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])

In [3]:
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [4]:
dates = pd.date_range("20130101", periods=6)
dates

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [5]:
df = pd.DataFrame(np.random.randn(6,4), index=dates,columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  1.119414 -1.216665 -0.806331  0.681582
2013-01-02  0.855045 -0.765535  0.977671 -0.232380
2013-01-03  0.342463  0.910611  0.753911  1.105266
2013-01-04  0.119002 -0.508196  0.031026 -0.971767
2013-01-05 -2.182335 -1.390351  1.676191 -0.035025
2013-01-06 -0.107858 -0.077636 -1.111590 -0.807438

In [6]:
df2 = pd.DataFrame(
    {
        "A": 1.0,
        "B": pd.Timestamp("20130102"),
        "C": pd.Series(1, index=list(range(4)), dtype="float32"),
        "D": np.array([3] * 4, dtype="int32"),
        "E": pd.Categorical(["test", "train", "test", "train"]),
        "F": "foo",
    }
)

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [7]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [8]:
df2.all

<bound method DataFrame.all of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [9]:
df2.abs

<bound method NDFrame.abs of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [10]:
df2.add

<bound method _arith_method_FRAME.<locals>.f of      A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo>

In [11]:
df.head()

                   A         B         C         D
2013-01-01  1.119414 -1.216665 -0.806331  0.681582
2013-01-02  0.855045 -0.765535  0.977671 -0.232380
2013-01-03  0.342463  0.910611  0.753911  1.105266
2013-01-04  0.119002 -0.508196  0.031026 -0.971767
2013-01-05 -2.182335 -1.390351  1.676191 -0.035025

In [12]:
df.tail(3)

                   A         B         C         D
2013-01-04  0.119002 -0.508196  0.031026 -0.971767
2013-01-05 -2.182335 -1.390351  1.676191 -0.035025
2013-01-06 -0.107858 -0.077636 -1.111590 -0.807438

In [13]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [14]:
df2.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [15]:
df.columns

Index(['A', 'B', 'C', 'D'], dtype='object')

In [16]:
df2.columns

Index(['A', 'B', 'C', 'D', 'E', 'F'], dtype='object')

In [17]:
df

                   A         B         C         D
2013-01-01  1.119414 -1.216665 -0.806331  0.681582
2013-01-02  0.855045 -0.765535  0.977671 -0.232380
2013-01-03  0.342463  0.910611  0.753911  1.105266
2013-01-04  0.119002 -0.508196  0.031026 -0.971767
2013-01-05 -2.182335 -1.390351  1.676191 -0.035025
2013-01-06 -0.107858 -0.077636 -1.111590 -0.807438

In [18]:
df.to_numpy()

array([[ 1.11941444, -1.21666547, -0.80633122,  0.68158179],
       [ 0.8550451 , -0.76553506,  0.97767066, -0.23238007],
       [ 0.34246258,  0.91061055,  0.75391061,  1.10526595],
       [ 0.11900204, -0.50819572,  0.03102568, -0.97176666],
       [-2.18233506, -1.39035089,  1.67619084, -0.03502497],
       [-0.10785776, -0.07763635, -1.11159041, -0.80743838]])

In [20]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.024289 -0.507962  0.253479 -0.043294
std    1.173568  0.841991  1.080286  0.815651
min   -2.182335 -1.390351 -1.111590 -0.971767
25%   -0.051143 -1.103883 -0.596992 -0.663674
50%    0.230732 -0.636865  0.392468 -0.133703
75%    0.726899 -0.185276  0.921731  0.502430
max    1.119414  0.910611  1.676191  1.105266

In [21]:
df.T

   2013-01-01  2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06
A    1.119414    0.855045    0.342463    0.119002   -2.182335   -0.107858
B   -1.216665   -0.765535    0.910611   -0.508196   -1.390351   -0.077636
C   -0.806331    0.977671    0.753911    0.031026    1.676191   -1.111590
D    0.681582   -0.232380    1.105266   -0.971767   -0.035025   -0.807438

In [22]:
df.sort_index()

                   A         B         C         D
2013-01-01  1.119414 -1.216665 -0.806331  0.681582
2013-01-02  0.855045 -0.765535  0.977671 -0.232380
2013-01-03  0.342463  0.910611  0.753911  1.105266
2013-01-04  0.119002 -0.508196  0.031026 -0.971767
2013-01-05 -2.182335 -1.390351  1.676191 -0.035025
2013-01-06 -0.107858 -0.077636 -1.111590 -0.807438

In [23]:
df.sort_index(axis=1, ascending=False)

                   D         C         B         A
2013-01-01  0.681582 -0.806331 -1.216665  1.119414
2013-01-02 -0.232380  0.977671 -0.765535  0.855045
2013-01-03  1.105266  0.753911  0.910611  0.342463
2013-01-04 -0.971767  0.031026 -0.508196  0.119002
2013-01-05 -0.035025  1.676191 -1.390351 -2.182335
2013-01-06 -0.807438 -1.111590 -0.077636 -0.107858

In [24]:
df.A

2013-01-01    1.119414
2013-01-02    0.855045
2013-01-03    0.342463
2013-01-04    0.119002
2013-01-05   -2.182335
2013-01-06   -0.107858
Freq: D, Name: A, dtype: float64